<div ng-init="editTodoInfo.editTodo()">
  <md-content layout-padding>
    <h4>Edit this todo:</h4>
    <div>
      <form name="userForm" ng-submit="editTodoInfo.updateTodo()">
        <md-input-container class="md-block">
          <label>Todo question</label>
          <input ng-model="editTodoInfo.todoItem"  required="" autofocus>
        </md-input-container>
        <div>
            <md-button class="md-primary md-raised" type="submit">Submit</md-button>
        </div>
      </form>
    </div>
  </md-content>
</div>
